* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #211950; /* dark greenish-black */
  color: rgb(196, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

#root {
  min-height: 100vh;
}
